@{
    ViewBag.Title = "Confirm Email has been sent";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
       Thank you for your registration. An email has been sent to your address. Please click the confirmation link.
    </p>
</div>

