@{
    ViewBag.Title = "Email not confirmed";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Your email has not been confirmed yet. Please check your mails and click the link wich activate your account.
    </p>
</div>
