<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://rasppi3webapi20160622020016.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>rasppi3webapi20160622020016.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RaspPi3WebApi20160622020016</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$RaspPi3WebApi20160622020016</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="WebApi" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:mqttbroker.database.windows.net,1433;Initial Catalog=RaspPi3WebApi20160622020016_db;User ID=raspberrypi@mqttbroker;Password=KalboKalbo2" Name="Data Source=tcp:mqttbroker.database.windows.net,1433;Initial Catalog=RaspPi3WebApi20160622020016_db;User Id=raspberrypi@mqttbroker;Password=KalboKalbo2" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="RaspPi3.WebApi.Models.ApplicationDbContext, RaspPi3.WebApi" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-RaspPi3.WebApi-20160620112903.mdf;Initial Catalog=aspnet-RaspPi3.WebApi-20160620112903;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-RaspPi3.WebApi-20160620112903.mdf;Initial Catalog=aspnet-RaspPi3.WebApi-20160620112903;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WebApi-Web.config Connection String">
      <ParameterValue>Data Source=tcp:mqttbroker.database.windows.net,1433;Initial Catalog=RaspPi3WebApi20160622020016_db;User Id=raspberrypi@mqttbroker;Password=KalboKalbo2</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="WebApi" />
  </ItemGroup>
</Project>