<div class="jumbotron">
    <h1>Welcome to the Raspberry Pi API</h1>
    <p class="lead">Raspberry Pi is an IoT gadget, wich is supportet with the Windows IoT Core operating System.</p>
    <p><a href="https://developer.microsoft.com/de-de/windows/iot" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Actuall Raspberri Pi Projects</h2>
        <p>To get more details about the actually Raspberry Pi projects, visit following GitHub respository.</p>
        <p><a class="btn btn-default" href="https://github.com/MartinBundschuh/RaspPi3MqttBrokerExample">Go to GitHub &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>MQTT Protocoll</h2>
        <p>In addition to this the Raspberry Pi uses the MQTT Protocoll. Therfore the CloudMQTT Broker is in use.</p>
        <p><a class="btn btn-default" href="https://www.cloudmqtt.com/">Go to CloudMQTT &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Azure Hosting</h2>
        <p>This ASP.NET WebApi is hostet on Azure. </p>
        <p><a class="btn btn-default" href="https://azure.microsoft.com/en-us/documentation/articles/web-sites-dotnet-rest-service-aspnet-api-sql-database/">Learn more &raquo;</a></p>
    </div>
</div>
